In [1]:
import pandas as pd 
import pandas as pd
from sqlalchemy import create_engine, inspect
from sqlalchemy.orm import Session

In [2]:
df1 = pd.read_csv('Imdb_to_rt.csv')
df2 = pd.read_csv('rt_to_imdb.csv')

In [3]:
space = []
for movie in df1['Movie']:
    x = movie.replace('(',' (')
    space.append(x)

In [4]:
df1['Movie'] = space
df1 = df1[['Movie','Tomatometer','IMDB score']]
df1

                              Movie Tomatometer  IMDB score
0   The Shawshank Redemption (1994)         91%         9.3
1              The Godfather (1972)         97%         9.2
2            The Dark Knight (2008)         94%         9.0
3     The Godfather: Part II (1974)         96%         9.0
4               12 Angry Men (1957)        100%         9.0
..                              ...         ...         ...
95        North by Northwest (1959)         97%         8.3
96                   Vertigo (1958)         94%         8.3
97       Singin' in the Rain (1952)        100%         8.3
98              Citizen Kane (1941)         99%         8.3
99                         M (1931)        100%         8.3

[100 rows x 3 columns]

In [5]:
df2 = df2[['Tomatometer','Movie','IMDB score']]

In [6]:
final = df1.merge(df2, how='outer')
final

                                      Movie Tomatometer  IMDB score
0           The Shawshank Redemption (1994)         91%         9.3
1                      The Godfather (1972)         97%         9.2
2                    The Dark Knight (2008)         94%         9.0
3             The Godfather: Part II (1974)         96%         9.0
4                       12 Angry Men (1957)        100%         9.0
..                                      ...         ...         ...
182                          Top Hat (1935)        100%         7.8
183    Never Rarely Sometimes Always (2020)         99%         7.4
184  Pain and Glory (Dolor y gloria) (2019)         96%         7.5
185     Shoplifters (Manbiki kazoku) (2018)         99%         7.9
186                       Metropolis (1927)         97%         8.3

[187 rows x 3 columns]

In [7]:
# Path to sqlite
mv_df1 = pd.read_csv('Loaded_1.0.csv')
database_path = ("movie.sqlite")
# Create an engine that can talk to the database
engine = create_engine(f"sqlite:///{database_path}")
mv_df1.to_sql(name='movie', con=engine, if_exists='append', index=False)