In [1]:
import pandas as pd 
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import nbconvert
import requests
import time
from splinter import Browser

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\slaye\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [7]:
rt_df = pd.read_csv('RT_ratings.csv')
rt_df

,Unnamed: 0,Rank,RatingTomatometer,Title,No. of Reviews
0,0,1.0,99%,It Happened One Night (1934),97
1,1,2.0,98%,Modern Times (1936),108
2,2,3.0,96%,Black Panther (2018),521
3,3,4.0,99%,Citizen Kane (1941),117
4,4,5.0,99%,The Wizard of Oz (1939),145
...,...,...,...,...,...
95,95,96.0,96%,Pain and Glory (Dolor y gloria) (2019),295
96,96,97.0,98%,Schindler's List (1993),128
97,97,98.0,99%,Shoplifters (Manbiki kazoku) (2018),226
98,98,99.0,100%,M (1931),60
99,99,100.0,97%,Metropolis (1927),133

In [34]:
rotten_movies = rt_df['Title']
rt_to_imdb_score = []
for r in rotten_movies:
    imdb = f"imdb {r}"
    url = f'https://www.google.com/search?q={imdb}&rlz=1C1VDKB_enUS933US933&oq=imdb+batman+begins&aqs=chrome..69i57j0j0i22i30l2.11368j0j7&sourceid=chrome&ie=UTF-8'
    browser.visit(url)
    browser.click_link_by_partial_href('https://www.imdb.com/title/')
    html=browser.html
    soup=bs(html,'html.parser')
    sopa = soup.find('div',class_='TitleBlock__ButtonContainer-sc-1nlhx7j-3 fvllTh').get_text()
    rt_to_imdb_score.append(sopa)
    print(len(rt_to_imdb_score))

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [44]:
rt_to_imdb_ratings = []
for rating in rt_to_imdb_score:
    rt_to_imdb_ratings.append(rating.split('/')[0])
rt_to_imdb_ratings

['IMDb RATING8.1',
 'IMDb RATING8.5',
 'IMDb RATING7.3',
 'IMDb RATING8.3',
 'IMDb RATING8.0',
 'IMDb RATING8.6',
 'IMDb RATING8.4',
 'IMDb RATING8.5',
 'IMDb RATING7.9',
 'IMDb RATING6.8',
 'IMDb RATING7.7',
 'IMDb RATING7.4',
 'IMDb RATING7.7',
 'IMDb RATING7.5',
 'IMDb RATING7.7',
 'IMDb RATING7.8',
 'IMDb RATING9.2',
 'IMDb RATING8.1',
 'IMDb RATING8.4',
 'IMDb RATING8.2',
 'IMDb RATING7.9',
 'IMDb RATING7.4',
 'IMDb RATING8.1',
 'IMDb RATING7.4',
 'IMDb RATING7.6',
 'IMDb RATING8.1',
 'IMDb RATING8.1',
 'IMDb RATING7.5',
 'IMDb RATING7.4',
 'IMDb RATING7.7',
 'IMDb RATING7.2',
 'IMDb RATING8.5',
 'IMDb RATING7.8',
 'IMDb RATING8.4',
 'IMDb RATING7.9',
 'IMDb RATING8.1',
 'IMDb RATING7.5',
 'IMDb RATING7.3',
 'IMDb RATING7.6',
 'IMDb RATING7.9',
 'IMDb RATING8.1',
 'IMDb RATING8.6',
 'IMDb RATING8.1',
 'IMDb RATING8.1',
 'IMDb RATING7.9',
 'IMDb RATING8.3',
 'IMDb RATING7.5',
 'IMDb RATING7.2',
 'IMDb RATING8.1',
 'IMDb RATING8.1',
 'IMDb RATING7.6',
 'IMDb RATING8.3',
 'IMDb RATING7.9',
 'IMDb RATING7.8',
 'IMDb RATING7.5',
 'IMDb RATING7.0',
 'IMDb RATING8.1',
 'IMDb RATING7.8',
 'IMDb RATING8.3',
 'IMDb RATING7.9',
 'IMDb RATING8.1',
 'IMDb RATING7.9',
 'IMDb RATING8.1',
 'IMDb RATING7.8',
 'IMDb RATING7.7',
 'IMDb RATING7.6',
 'IMDb RATING7.2',
 'IMDb RATING8.3',
 'IMDb RATING8.0',
 'IMDb RATING7.9',
 'IMDb RATING8.4',
 'IMDb RATING7.9',
 'IMDb RATING7.5',
 'IMDb RATING7.6',
 'IMDb RATING8.0',
 'IMDb RATING8.0',
 'IMDb RATING7.9',
 'IMDb RATING8.5',
 'IMDb RATING7.8',
 'IMDb RATING7.4',
 'IMDb RATING7.8',
 'IMDb RATING7.7',
 'IMDb RATING8.0',
 'IMDb RATING7.6',
 'IMDb RATING8.4',
 'IMDb RATING8.3',
 'IMDb RATING6.9',
 'IMDb RATING7.6',
 'IMDb RATING7.1',
 'IMDb RATING9.0',
 'IMDb RATING8.1',
 'IMDb RATING7.6',
 'IMDb RATING7.4',
 'IMDb RATING7.8',
 'IMDb RATING7.4',
 'IMDb RATING7.5',
 'IMDb RATING8.9',
 'IMDb RATING7.9',
 'IMDb RATING8.3',
 'IMDb RATING8.3']

In [58]:
true_score=[]
for score in rt_to_imdb_ratings:
    true_score.append(score.split('G')[1])

In [98]:
score_df = pd.DataFrame(true_score)
score_df.columns=['IMDB score']
score_df

   IMDB score
0         8.1
1         8.5
2         7.3
3         8.3
4         8.0
..        ...
95        7.5
96        8.9
97        7.9
98        8.3
99        8.3

[100 rows x 1 columns]

In [105]:
#data = [movie[0],tomate_df[0],audience_df[0],imdb_score[1]]
#headers = ['Movie','Tomatometer','Audience Score','IMDB score']
#imdb_to_rt_final = pd.concat(data, axis=1, keys=headers)
#score_df
#rt_df
data = [rt_df,score_df]
final = pd.concat(data,axis=1)

In [106]:
final = final[['Rank','RatingTomatometer','Title','No. of Reviews', 'IMDB score']]
final = final.rename(columns={'Rank':'IMDB Rank','Title':'Movie','RatingTomatometer':'Tomatometer'})

,IMDB Rank,Tomatometer,Movie,No. of Reviews,IMDB score
0,1.0,99%,It Happened One Night (1934),97,8.1
1,2.0,98%,Modern Times (1936),108,8.5
2,3.0,96%,Black Panther (2018),521,7.3
3,4.0,99%,Citizen Kane (1941),117,8.3
4,5.0,99%,The Wizard of Oz (1939),145,8.0
...,...,...,...,...,...
95,96.0,96%,Pain and Glory (Dolor y gloria) (2019),295,7.5
96,97.0,98%,Schindler's List (1993),128,8.9
97,98.0,99%,Shoplifters (Manbiki kazoku) (2018),226,7.9
98,99.0,100%,M (1931),60,8.3
99,100.0,97%,Metropolis (1927),133,8.3

In [108]:
final.to_csv('rt_to_imdb.csv',index=False)