In [1]:
import pandas as pd 
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import nbconvert
import requests
import time
from splinter import Browser

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\slaye\.wdm\drivers\chromedriver\win32\91.0.4472.19\chromedriver.exe] found in cache

In [3]:
Movies = ["Toy Story","Men in Black", "Detective Pikachu"]
url = "https://www.rottentomatoes.com/top/bestofrt/"
browser.visit(url)
html = browser.html
soup = bs(html,'html.parser')
tables = pd.read_html(url)

In [4]:
table = tables[2]

In [5]:
table = table[['RatingTomatometer','Title']]
table

   RatingTomatometer                                Title
0                99%         It Happened One Night (1934)
1                98%                  Modern Times (1936)
2                96%                 Black Panther (2018)
3                99%              The Wizard of Oz (1939)
4                99%                  Citizen Kane (1941)
..               ...                                  ...
95              100%        The Philadelphia Story (1940)
96               99%  Shoplifters (Manbiki kazoku) (2018)
97              100%                             M (1931)
98               97%                    Metropolis (1927)
99               98%                          Jaws (1975)

[100 rows x 2 columns]

In [6]:
table['Title'] = table['Title'].str.rstrip(' (12345678910)')

C:\Users\slaye\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [7]:
table
table.to_csv('RT_ratings.csv')

In [8]:
url = 'https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&ref_=adv_prv'
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')
pieces = soup.find_all('div', class_='lister-item')
item_list = []
for piece in pieces:
    title = (piece.find('h3', class_='lister-item-header').text).replace('\n', '').split('(')[0]
    title=title.split('.')[1]
    rating = piece.find('div', class_='ratings-imdb-rating').text.replace('\n', '')
    item_list.append([title,rating])
browser.links.find_by_partial_text('Next').click()
html = browser.html
soup = bs(html, 'html.parser')
pieces = soup.find_all('div', class_='lister-item')
for piece in pieces:
    title = (piece.find('h3', class_='lister-item-header').text).replace('\n', '').split('(')[0]
    title=title.split('.')[1]
    rating = piece.find('div', class_='ratings-imdb-rating').text.replace('\n', '')
    item_list.append([title,rating])

In [9]:
df = pd.DataFrame(item_list,columns = ['Movie','IMDB Score'])

In [10]:
df.to_csv('IMDB_ratings.csv')